<!DOCTYPE html>
<html>
<style>
    
footer {
  width: 100%;
  overflow-x: hidden;
  bottom: 0px;
}
</style>
<body>
<footer style="width: 100%; text-align: center;">
    <hr>
    <p>Application by Stephen White, Gary Baker, and Van Steinbrenner. <br>
        Contact Us! <a href="mailto:gitossum@gmail.com">gitossum@gmail.com</a>. <br>
        Visit Us! <a href="https://www.cefns.nau.edu/capstone/projects/CS/2019/GitOSSum-S19/">Our Team Website</a>.    
    </p>
</footer>
</body>
</html>