<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
    </head>

  <style>
    .nav-item {
      height: "10%";
    }
    .nav-item:hover {
      background-color: grey;
      transition: 0.5s;

    }
    .nav-item:active {
      color: white;
    }
    .navbar {
      
    }

  </style>

<body class="content" >
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark" style="background-color: rgb(4, 85, 161);">
        <a class="navbar-brand" href="/"> Git OSS-um</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">About Us</a>
                  </li>
            <li class="nav-item">
              <a class="nav-link" href="/chart">Chart</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/database">MongoDB</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/mining_requests_form">Request Form</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/mining_requests">Request Database</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/clean_mining_requests">Clean Request Database</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/admin_approve_mining_requests">Approve Requests</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/clean_database">Clean MongoDB</a>
            </li>
            <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'mine' %}">Mine Data</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>

    <div class="body">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html> 