<style>
    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /* background-color: rgb(66, 77, 233); */
        background-color: rgb(0, 44, 126);
        width: 100%;
    }

    .nav li {
        float: left;
        width: auto;
        height: "2%";
    }

    .nav li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */

    .nav li a:hover {
        /* background-color: rgb(94, 215, 252); */
        background-color: gold;
        color: black;
        transition: 0.5s;
    }
</style>
{% block content %}
<ul class="nav">
    <!-- <li>
        <a href="/" style="font-size: 18px;">Git OSS-um</a>
    </li> -->
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="{% url 'about_us' %}">About Us</a>
    </li>
     {% if user.is_authenticated %} 
        <li>
            <a href="{% url 'mining_form' %}">Mining Request Form</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'repos' %}">Mined Repos</a>
    </li>
    {% if user.objects.status == admin or request.user.is_superuser %}
    <li>
        <a href="{% url 'admin:index' %}">Admin Portal</a>
    </li>
    {% endif %}
    {% if user.is_authenticated %}
    <div style="color: white; margin-top: 0.8%; margin-right: 1%; float: right;">   
        Welcome, {{ user.get_username }} <a href="{% url 'logout' %}" style="color: gold;">(Log Out)</a>
    </div>
    {% else %}
    <div style="color: white; margin-top: 0.8%; margin-right: 1%; float: right;">   
        New here? <a href="{% url 'signup' %}" style="color: gold;">Sign Up</a> or <a href="{% url 'login' %}" style="color: gold;">Login</a>
    </div>
  {% endif %}
</ul>
{% endblock content %}