<style>
    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .nav li {
        float: left;
    }

    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */

    .nav li a:hover {
        background-color: rgb(165, 161, 161);
    }
</style>
{% block content %}
<ul class="nav">
    <li>
        <a href="/">Home</a>
    </li>
     {% if not user.is_authenticated %} 
        <li>
            <a href="/signup">Sign Up</a>
        </li>
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
     {% endif %}
     {% if user.is_authenticated %} 
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
            <a href="/mining_requests_form">Mining Request Form</a>
        </li>
    {% endif %}
    <li>
        <a href="/repos">Mined Repos</a>
    </li>
</ul>
{% endblock content %}