<style>
    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        width: 100%;
    }

    .nav li {
        float: left;
        width: auto;
        height: "2%";
    }

    .nav li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */

    .nav li a:hover {
        background-color: rgb(165, 161, 161);
    }
</style>
{% block content %}
<ul class="nav">
    <li>
        <a href="/" style="font-size: 18px;">Git OSS-um</a>
    </li>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="about_us">About Us</a>
    </li>
     {% if user.is_authenticated %} 
        <li>
            <a href="{% url 'mining_form' %}">Mining Request Form</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'repos' %}">Mined Repos</a>
    </li>
</ul>
{% endblock content %}