<!DOCTYPE html>
<html lang=en>

{% extends "base.html" %} {% block content %}
<style>
    li {
        list-style-type: none;
        margin: 100;
        padding: 50;
    }
</style>

<head>
</head>
<center>

    <body>
        <h1>Welcome to Git-OSS-um.com!</h1>
        <hr>
        <h3>This website is brought to you by</h3>
        <i>
            <li>Stephen White</li>
            <li>Gary Baker</li>
            <li>Van Steinbrenner</li>
        </i>
</center>
</body>
{% endblock content %}

</html>