<!DOCTYPE html>
<html lang=en>

{% extends "base.html" %} {% block content %}
<style>
    li {
        list-style-type: none;
        margin: 100;
        padding: 50;
    }
</style>

<head>
</head>

<body>
    <h1>List of Mined Repos</h1>
    <hr>
    {% for value in context.values %}
    <h4>
        <ul>
            <img src= {{ value.1 }} 
                 ALIGN=”right” 
                 width="65px"
                 height="65px"
            >
            <a href="/repos/{{ value.0 }}/">{{ value.0 }}</a>
        </ul>
        <br>
    </h4>
    {% endfor %}
</body>

{% endblock content %}

</html>