{% extends 'base.html' %} {% block content %}
{% load bootstrap3 %}

<head>
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
</head>
<center>
    <h2>Sign up for Git-OSS-um!</h2>
</center>
<hr>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <form action="" method="post">
                    {% csrf_token %} {% bootstrap_form form %} {% buttons %}
                    <button type="submit" class="btn btn-success btn-block">Sign Up!</button>
                    {% endbuttons %}
                </form>
                <center>{% bootstrap_messages %}</center>
            </div>
        </div>
    </div>
</body>
<br><br>
<br>
<br>
<br>

{% endblock %}